<div id='sepiaFW-frame-carousel' class="sepiaFW-inner-container sepiaFW-carousel">
	<div class='sepiaFW-carousel-pane-container'>
		<!-- Page 1 -->
		<div id="sepiaFW-frame-page-1" class='sepiaFW-frames-page sepiaFW-carousel-pane'>
			<h3>Page 1 - Welcome to the demo</h3>
			<p id="sepiaFW-frame-c-hello"></p>
		</div>
		<!-- Page 2 -->
		<div id="sepiaFW-frame-page-2" class='sepiaFW-frames-page sepiaFW-carousel-pane'>
			<h3>Page 2 - Microphone and chat output</h3>
			<input id="sepiaFW-frame-c-text-in" style="width: calc(100% - 113px); height: 40px; margin: 8px 8px 8px 0; border-bottom: 1px solid;" placeholder="input text">
			<button style="width: 100px; margin: 0;" onclick="SepiaFW.frames.currentScope.sendText();">SEND</button>
			<textarea id="sepiaFW-frame-c-stt-data" style="width: 100%; height: calc(50% - 65px);"></textarea>
			<textarea id="sepiaFW-frame-c-chat-data" style="width: 100%; height: calc(50% - 65px);"></textarea>
		</div>
	</div>
</div>
<div id="sepiaFW-frames-nav-bar" class='sepiaFW-layer-header'>
	<button id="sepiaFW-frames-close" class='entry'>
		<i class="material-icons md-btn2">close</i>
	</button>
	<button id="sepiaFW-frames-mic" class='entry'>
		<i class="material-icons md-btn2">mic</i>
	</button>
	<button id="sepiaFW-frames-show-prev-page" class='entry'>
		<i class="material-icons md-btn2">keyboard_arrow_left</i><span data-localize="back">back</span>
	</button>
	<button id="sepiaFW-frames-show-next-page" class='entry'>
		<span data-localize="next">next</span><i class="material-icons md-btn2">keyboard_arrow_right</i>
	</button>
	<div id="sepiaFW-frames-nav-bar-page-indicator"><div>&nbsp;</div><div>&nbsp;</div></div>
</div>
<script>
	$('#sepiaFW-frame-carousel').find('[data-localize]').each(function(){
		$(this).html(SepiaFW.local.g(this.dataset.localize));
	});
	//Define scope
	SepiaFW.frames.currentScope = {
		//Load scope (default method, kind of like a 'onDocumentReady')
		load: function(){
			$('#sepiaFW-frames-mic').attr('class', 'entry');
		},
		//You can use the NLU-prefix to redirect input to this custom view frame via SDK or Teach-UI commands (make sure to use _..._ format)
		nluPrefix: "_demo_frame_",
		
		//--Interface functions--
		
		sayHelloOnOpen: function(){
			//we use '$('#sepiaFW-frame-page-...')' to avoid conflicts with global ID:
			$('#sepiaFW-frame-page-1 #sepiaFW-frame-c-hello').html(
				"<p>Welcome to the Demo-View frame.</p>" 
				+ "<p>This frame is loaded from the SEPIA assist server but runs inside the scope of the SEPIA client and has open access to all features.</p>"
				+ "<p>This is allowed because the SEPIA server is considered a safe origin.</p>"
				+ "<p>You can make use of this feature to build more complex custom views e.g. for SDK services.</p>"
			);
		},
		handleSttData: function(data){
			$('#sepiaFW-frame-page-2 #sepiaFW-frame-c-stt-data').val(JSON.stringify(data, "", 2));
			//modify text to include custom tag (can be used to redirect all input to a custom service for example)
			if (data.text && data.isFinal){
				var textWithPrefix = SepiaFW.frames.currentScope.nluPrefix? (SepiaFW.frames.currentScope.nluPrefix + " " + data.text) : data.text;
				return textWithPrefix;	//<-- return the data to actually modify it
			}
		},
		handleChatOutput: function(data){
			$('#sepiaFW-frame-page-2').find('#sepiaFW-frame-c-chat-data').val(JSON.stringify(data, "", 2));
		},
		//Animation state "listener" (listening, speaking, loading, idle, etc.)
		onAnimationStateChange: function(animState){
			$('#sepiaFW-frames-mic').attr('class', 'entry state-' + animState);
		},
		//Custom actions
		actionHandler: function(action){
			console.log("Custom frame action", action);
			if (action.functionName && typeof action.functionName == "string" && action.functionName.toLowerCase() == "test"){
				console.log("Custom frame action: TEST", action.data);
			}
		},
		
		//--Custom functions--
		
		//Send text from input field and add NLU-prefix automatically
		sendText: function(text){
			var $textInput = $('#sepiaFW-frame-page-2 #sepiaFW-frame-c-text-in');
			if (!text){
				text = $textInput.val();
				$textInput.val("");
			}
			if (text){
				text = text.trim();
				if (SepiaFW.frames.currentScope.nluPrefix && text.indexOf(SepiaFW.frames.currentScope.nluPrefix) != 0){
					text = SepiaFW.frames.currentScope.nluPrefix + " " + text;
				}
				$('#sepiaFW-frame-page-2 #sepiaFW-frame-c-stt-data').val(text);
				SepiaFW.client.sendInputText(text);
			}
		}
		
		//Use this action in your service to trigger the demo frame:
		//Action name: "open_frames_view";
		//Action data: "info": {"pageUrl": "<assist_server>/views/custom-view-demo.html", "onOpen": "sayHelloOnOpen", "onSpeechToTextInputHandler": "handleSttData", "onChatOutputHandler": "handleChatOutput"}
	}
	SepiaFW.frames.currentScope.load();
</script>